/* Hero page */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Required for full screen */
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 37%, rgba(0, 0, 0, 0.65) 100%),
        url(../img/photos/hero.jpeg) no-repeat center center scroll;
}

@media (max-width: 400px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100vh;
        /* Required for full screen */
        overflow: hidden;
        background-size: contain !important;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 37%, rgba(0, 0, 0, 0.65) 100%),
            url(../img/photos/heroMobile400.jpeg) no-repeat center center scroll;
    }
}

/* Buttons on Hero */
#button1 {
    background: #C53046;

    border-radius: 15px;
    display: inline-block;
    border: none;
    padding: .75rem 3.5rem;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 2.75rem;
    letter-spacing: .3rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 83%;
    left: 70%;
    font-family: 'Alegreya Sans', sans-serif;
}

#button1:hover {
    background: #A62030;
}

#button1:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

@media (max-width: 1041px) {
    #button1 {
        top: 80%;
        left: 80%;
    }
}

@media (max-width: 1301px) {
    #button1 {
        top: 80%;
        left: 74%;
    }
}

@media (max-width: 400px) {
    #button1 {
        top: 65%;
        left: 85%;
    }
}


#button2 {
    background: #C53046;
    border-radius: 15px;
    display: inline-block;
    border: none;
    padding: .75rem 3.3rem;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 2.75rem;
    letter-spacing: .3rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 63%;
    left: 70%;

    font-family: 'Alegreya Sans', sans-serif;
}

#button2:hover {
    background: #A62030;
}

#button2:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

@media (max-width: 1301px) {
    #button2 {
        top: 73%;
        left: 74%;
    }
}

@media (max-width: 1041px) {
    #button2 {
        top: 73%;
        left: 80%;
    }
}

@media (max-width: 400px) {
    #button2 {
        top: 58%;
        left: 85%;
    }
}


/* /Button */
/* /Hero page */